@import "../../index.css";





@layer components{
  .stocks-grid{
    @apply grid grid-rows-10 gap-6
  }


  .stock-container{
    @apply bg-white grid grid-cols-3 p-7 rounded-[8px]
  }

  .labels{
    width: 69%
  }
}