@import '../../index.css'; 

@layer components {
  .headings-portfolio-page{
    @apply text-[18px] sm:text-[20.5px]
  }

  .info-icon:hover  + div,
  .info-label:hover{
      display: inline;
  }

  .info-label{
    display: none;
  }


}
