@import "../../index.css";





@layer components{
  .stocks-grid{
    @apply grid grid-cols-1 gap-3 sm:gap-4 md:gap-5;

  }


  .stock-container{
    @apply bg-white flex flex-col md:grid md:grid-cols-3 p-4 md:p-6 rounded-[14px] md:rounded-[16px] gap-3 md:gap-0 transition-shadow hover:shadow-xl border border-transparent hover:border-slate-200
  }

  .labels{
    width: 69%
  }


}